audio{
	height: 100%;
	width: 100%;
}
#audioContainer{
	height: 60px;
	width: 880px;
	margin: auto;
	position: relative;
	color: white;
}

#audioControlsContainer{
	height: 30px;
	width: 880px;
	background: #494949;
	margin: auto;
	border-radius: 2px;
	position: relative;
	bottom: 0px;
	
}

#audioPlayPauseButton{
	float: left;
	height: 24px;
	width: 34px;
	content: url("PlayButton.png");
	margin-left: 10px;
	margin-top: 3px;
}

#audioProgressionContainer{
	float: left;
	height: 24px;
	width: 726px;
	background: black;
	margin-left: 8px;
	margin-top: 3px;
	padding-left: 1px;
	padding-right: 1px;
}

#audioTimeContainer{
	float: left;
	height: 24px;
	width: 80px;
	background: #494949;
	margin-left: 8px;
	margin-top: 3px;
}


#audioCurrentProgress{
	height: 22px;
	margin-top: 1px;
	width: 0%;
	background: #b6b6b6;
	float: left;
	position: relative;
}
#audioCurrentMarker{
	height: 100%;
	width: 4px;
	background: white;
	margin-right: -2px;
	position: relative;
	
}

#audioLoadedProgress{
	height: 22px;
	margin-top: 1px;
	width: 0%;
	background: #696969;
		
}
#audioCurrentTime{
	float: left;
}
